<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{index.html :: dynamic(~{::body})}">

<body>
	<div class="container">
		<marquee class="mt-3" direction="left" behavior="alternate">
			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success"><<</label> <label class="text-warning"><<</label>
			<label class="text-danger"><<</label>
		</marquee>
		<div class="title text-center">
			<div class="position-relative fs-1 d-inline-block fw-bold">
				<label class="text-success">Sửa</label> 
				<label class="text-warning">Sản</label>
				<label class="text-danger">Phẩm</label>
			</div>
		</div>
		<marquee direction="right" behavior="alternate">
			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label> <label class="text-success"></label>
			<label class="text-warning"></label> <label class="text-danger"></label>

			<label class="text-success">>></label> <label class="text-warning">>></label>
			<label class="text-danger">>></label>
		</marquee>

		<div class="body-create">
			<form action="return false;" method="post" id="formData">
				<div>
					<label class="fs-5">Tên sản phẩm</label> <input name="ten" type="text"
						class="form-control" autocomplete="off">
						<span class="text-danger small" id="ten"></span>
				</div>
				<div class="row mt-2">
					<div class="col-4">
						<label class="fs-5">Hạn sử dụng</label> 
						<input name="hansudung" type="date" class="form-control"> 
						<span class="text-danger small" id="hansudung"></span>
					</div>
					<div class="col-4">
						<label class="fs-5">Thể loại</label> 
						<select name="theloai" class="form-select">
							<option value="null" disabled selected>--- Chọn thể loại ---</option>
							<option value="R">Rau</option>
							<option value="C">Củ</option>
							<option value="Q">Quả</option>
						</select>
						<span class="text-danger small" id="theloai"></span>
					</div>
					<div class="col-4">
						<label class="fs-5">Khối lượng</label>
						<div class="input-group">
							<input name="khoiluong" type="number" class="form-control" value=0>
							<span class="input-group-text">gram</span>
						</div>
						<span class="text-danger small" id=""khoiluong""></span>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-4">
						<label class="fs-5">Số lượng</label> <input name="soluong" type="number"
							class="form-control" value="0"> <span
							class="text-danger small" id="soluong"></span>
					</div>
					<div class="col-8">
						<label class="fs-5">Giá bán</label>
						<div class="input-group">
							<input name="gia" type="number" class="form-control"
								autocomplete="off" value="0"> <span
								class="input-group-text">vnđ</span>
						</div>
						<span class="text-danger small" id="gia"></span>
					</div>
				</div>
				<div class="mt-2">
					<label class="fs-5">Hình ảnh</label> <input name="hinhanh" type="file"
						class="form-control" accept=".jpg,.png"> <span
						class="text-danger small" id="hinhanh"></span>
				</div>
				<div class="mt-3">
					<a th:href="@{/raucuqua/admin/product}">
						<button type="button" class="btn btn-dark">Quay lại</button>
					</a>
					<button type="reset" class="btn btn-warning ms-3">Xoá form</button>
					<button type="button" class="btn btn-primary ms-3">Thêm mới</button>	
				</div>
			</form>
		</div>
	</div>
</body>

</html>