<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(view)">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Rau Củ Quả</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/bootstrap/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/script.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

	<div class="container">
		<!-- <div id="loading" class="loading" style="display: none;">
			<div class="spinner-border text-warning spinner-center" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div> -->
		<header>
			<img alt="hoaqua" class="" src="/images/header.jpg" width="100%">
		</header>
		<nav
			class="navbar navbar-expand-lg bg-light border border-warning border-2">
			<div class="container-fluid">
				<a
					class="navbar-brand fs-4 text-warning fw-bold border-bottom border-3 border-dark p-0 rung"
					href="#"> <label class="text-success">Phu</label> <label
					class="text-warning">Thai</label> <label class="text-danger">Shop</label>
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a
							class="nav-link text-success fs-5 fw-bold" aria-current="page"
							th:href="@{/raucuqua}">Trang chủ</a></li>
						<li class="nav-item"><a
							class="nav-link text-warning fs-5 fw-bold" href="#">Giỏ hàng</a></li>
						<li class="nav-item"><a
							class="nav-link text-danger fs-5 fw-bold" href="#">Đơn hàng</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle text-primary fw-bold fs-5"
							href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> Quản trị website </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-success"
									th:href="@{/raucuqua/admin/product}">Sản phẩm</a></li>
								<li><a class="dropdown-item text-warning"
									th:href="@{/raucuqua/admin/user}">Người dùng</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item text-danger"
									th:href="@{/raucuqua/admin/donhang}">Đơn hàng</a></li>
							</ul></li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="Tìm kiếm..." name="name" id="name">
						<button class="btn btn-outline-warning"
							onclick="getProduct(0,true)" type="button">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
			</div>
		</nav>
		<article id="main" th:replace="${view}"></article>
	</div>
</body>

</html>